@model RenderingModel
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @Html.Sitecore().Placeholder("6by6.Left")
            </div>
            <div class="col-md-6">
                @Html.Sitecore().Placeholder("6by6.Right")

            </div>
        </div>

    </div>
