@model RenderingModel
<div style="margin-top:40px">
    <div>
        @Html.Sitecore().Field("ContentHeading")
    </div>
    <div>
        @Html.Sitecore().Field("Description")
    </div>
</div>

   
